* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #111;
  color: #fff;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  
  margin-top: -7px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #00bcd4;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
  transition: 0.4s;
}

/* Mobile styles */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 70px;
    right: 0;
    background-color: #111;
    width: 100%;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease;
  }

  .nav-links.active {
    max-height: 300px;
    padding: 1rem 1rem; 
  }

  .hamburger {
    display: flex;
  }

  .hamburger.toggle span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .hamburger.toggle span:nth-child(2) {
    opacity: 0;
  }

  .hamburger.toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
